<div class="background-home">
  <img src="https://images.unsplash.com/photo-1543589077-47d81606c1bf?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"style=" height: 200px;
  width: 100%;object-fit: cover;"/>
  <div class="card-trip-infos"style="padding: 16px;display: flex;justify-content: space-between;align-items: flex-end;position: relative;">
    <div>
    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="card-trip-user avatar-bordered" style="position: absolute;top: -150px; width: 100px;" />
    </div>
    <div style="position: absolute;right: 16px;top: -100px;color:white">
      <h2>🎄 Welcome! Dear <%= @user.first_name%> 😊</h2>
    </div>
  </div>
</div>






<div class="row background-home">

  <div class="col-6 d-grid gap-2 mb-2 ">
     <button class="btn btn-danger pt-3 custom-btn" ><h3 style="color:white">All your events & related bookings as host</h3></button>
  </div>

  <div class="col-6 d-grid gap-2 mb-2  ">
     <button class="btn btn-danger pt-3 custom-btn" ><h3 style="color:white">All your bookings as attendee</h3></button>
  </div>


  <div class="col-6">
    <div>
      <% @user.events.each do |event|%>
        <div class="mb-5" data-aos="zoom-in">
          <div class="bg-white rounded shadow text-center">
            <div class="p-3 rounded-bottom d-flex flex-column">
               <% if event.images.attached? %>
                      <%= cl_image_tag(event.images[0].key,height: 250, class:"object-fit-cover border rounded w-100") %>
              <% else %>
                      <img src="https://images.unsplash.com/photo-1515288207449-100e125abccb?q=80&w=2569&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image-placeholder" class="card-img-top mb-1 object-fit-cover border rounded w-100" style="height:250px" alt="event image">
              <% end %>
              <strong class="fs-5"><%= event.title %></strong>
              <span class="text-muted font-weight-normal">description: <%= event.description %></span>
              <span class="text-muted font-weight-normal">start at: <%= event.start_at.strftime('%m/%d/%Y') %></span>
              <span class="text-muted font-weight-normal mb-5">end at: <%= event.end_at.strftime('%m/%d/%Y') %></span>
              <strong class="fs-5 mb-3 ">bookings recieved:</strong>
              <div>
                <% if event.bookings.blank? %>
                  <p class="text-muted" style="font-style: oblique;font-weight:bold">sorry no booked</p>
                <% else %>
                  <% event.bookings.each do |booking|%>
                    <div class="mb-5" data-aos="zoom-in">
                      <div class="custom-card rounded shadow text-center">
                        <div class="p-3 rounded-bottom d-flex flex-column">
                          <p>Applicant: <%= booking.user.first_name %> · <%= booking.user.last_name %></p>
                          <p>Applied time: <%= booking.created_at.strftime('%m/%d/%Y') %></p>
                          <nav class="navbar navbar-expand-lg navbar-dark custom-card mt-3">
                            <div class="container-fluid">
                              <a class="navbar-brand" href="#"></a>
                              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" style="display: flex;justify-content: space-between;align-items: flex-end;position: relative;">
                                <ul class="navbar-nav"style="position: absolute;top:-20px">
                                  <li class="nav-item dropdown "style="position: absolute;">
                                    <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                      Show details
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#"><strong>introduction:</strong><%= booking.user.introduction %></a></li>
                                      <li><a class="dropdown-item" href="#"> <strong>email:</strong><%= booking.user.email %></a></li>
                                    </ul>
                                  </li>
                                  <li style="position: absolute;left: 370px;">
                                    <%= link_to booking_path(booking),data: { turbo_method: :patch } do %>
                                    <button class="btn btn-light ">
                                    confirm:
                                    </button>
                                    <% end %>
                                </li>
                                 <li style="position: absolute;left: 460px;">
                                    <button class="btn btn-white">
                                      <% if booking.confirmed %>
                                      ✅
                                      <% else %>
                                      ❌
                                      <% end %>
                                    </button>
                                </li>
                                </ul>
                              </div>
                            </div>
                          </nav>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <% if event.bookings.blank? %>
              <nav class="navbar navbar-expand-lg navbar-dark bg-white mt-3">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" style="display: flex;justify-content: space-between;align-items: flex-end;position: relative;">
                    <ul class="navbar-nav"style="position: absolute;top:-20px">
                      <li class="nav-item dropdown "style="position: absolute;">
                        <%= link_to edit_event_path(event),style:"color:white;text-decoration:none" do %>
                                <button  class="btn custom-update">
                                update
                                </button>
                         <% end %>
                      </li>
                      <li style="position: absolute;left: 200px;">
                        <%= link_to cancel_event_path(event),data: { turbo_method: :patch }  do %>
                        <button  class="btn custom-confirm">
                          published:
                        </button>
                         <% end %>
                      </li>
                      <li style="position: absolute;left: 310px;">
                                      <button class="btn btn-white">
                                        <% if !event.canceled  %>
                                        ✅
                                        <% else %>
                                        ❌
                                        <% end %>
                                      </button>
                      </li>
                      <li style="position: absolute;left: 460px;">
                        <button type="button" class="btn btn-danger">
                        <%= link_to "delete", event_path(event),style:"text-decoration:none;color:white",data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete '#{event.title}' from your event list?"}%>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              <% elsif event.bookings.where(confirmed: true).blank? %>
               <nav class="navbar navbar-expand-lg navbar-dark bg-white mt-3">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" style="display: flex;justify-content: space-between;align-items: flex-end;position: relative;">
                    <ul class="navbar-nav"style="position: absolute;top:-20px">
                      <li class="nav-item dropdown "style="position: absolute;">
                        <%= link_to edit_event_path(event),style:"color:white;text-decoration:none" do %>
                                <button  class="btn custom-update">
                                update
                                </button>
                        <% end %>
                      </li>
                      <li style="position: absolute;left: 200px;">
                        <%= link_to cancel_event_path(event),data: { turbo_method: :patch }  do %>
                        <button  class="btn custom-confirm">
                          published:
                        </button>
                         <% end %>
                      </li>
                      <li style="position: absolute;left: 310px;">
                                      <button class="btn btn-white">
                                        <% if !event.canceled  %>
                                        ✅
                                        <% else %>
                                        ❌
                                        <% end %>
                                      </button>
                      </li>
                    </ul>
                  </div>
                </div>
                </nav>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-6">
    <div>
      <% @user.bookings.each do |booking|%>
        <% if booking.event.canceled %>
          <div class="mb-5">
            <div class="bg-white rounded shadow text-center">
              <div class="p-3 rounded-bottom d-flex flex-column">
                <strong><%= booking.event.title %> </strong>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    show details
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><span class="text-muted font-weight-normal">description: <%=  booking.event.description %></span></a></li>
                    <li><a class="dropdown-item" href="#"> <span class="text-muted font-weight-normal">start at: <%=  booking.event.start_at %></span></a></li>
                    <li><a class="dropdown-item" href="#"><span class="text-muted font-weight-normal">end at: <%=  booking.event.end_at %></span></a></li>
                  </ul>
                </div>
                <small class="text-danger fs-3">Sorry,event has been Canceled by host</small>
              </div>
            </div>
          </div>
        <%else%>
          <div class="mb-5">
            <div class="bg-white rounded shadow text-center">
                <div class="p-3 rounded-bottom d-flex flex-column">
                  <strong><%= booking.event.title %> </strong>
                <nav class="navbar navbar-expand-lg navbar-dark bg-white mt-5">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" style="display: flex;justify-content: space-between;align-items: flex-end;position: relative;">
                      <ul class="navbar-nav"style="position: absolute;top:-20px">
                        <li class="nav-item dropdown "style="position: absolute;">
                          <button type="button" class="btn btn-info custom-card dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            show details
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">
                            <% if booking.event.images.attached? %>
                                    <%= cl_image_tag(booking.event.images[0].key,height: 250, class:"object-fit-cover border rounded w-100") %>
                            <% else %>
                                    <img src="https://images.unsplash.com/photo-1515288207449-100e125abccb?q=80&w=2569&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image-placeholder" class="card-img-top mb-1 object-fit-cover border rounded w-100" style="height:250px" alt="event image">
                            <% end %>
                          </a></li>
                          <li><a class="dropdown-item" href="#"><small class="text-muted">description:   <%=  booking.event.description %></small></a></li>
                          <li><a class="dropdown-item" href="#"> <span class="text-muted font-weight-normal">start at:   <%=  booking.event.start_at %></span></a></li>
                          <li><a class="dropdown-item" href="#"><span class="text-muted font-weight-normal">end at:   <%=  booking.event.end_at %></span></a></li>
                        </ul>
                        </li>
                        <li style="position: absolute;left: 370px;">
                          <p class="fs-5"> confirmed?</p>
                      </li>
                      <li style="position: absolute;left: 480px;">
                          <button class="btn btn-white">
                            <% if booking.confirmed %>
                            ✅
                            <% else %>
                            ❌
                            <% end %>
                          </button>
                      </li>
                      </ul>
                    </div>
                  </div>
                </nav>
                </div>
            </div>
          </div>
        <%end%>
      <% end %>
    </div>
  </div>

  <div class="col-6 d-grid gap-2 mb-2 ">
    <div class="row">
      <button class="btn btn-danger pt-3 custom-btn mb-5 col-4 offset-4" >
        <%= link_to new_event_path ,style:"text-decoration:none" do%>
          <p style="color:white; font-size:18px">Create a new event</p>
        <%end%>
      </button>
    </div>
  </div>


</div>
