<div class='fs-2 text-center mt-5 pb-10'>
  <div class='fw-bold'><%= @event.title %></div>
  <img class="mt-3 mb-4 rounded-4 w-50" src="https://images.unsplash.com/photo-1545622783-b3e021430fee?q=80&w=868&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="event image">
  <div>
    <p class='fs-5 lh-1'>From <%= @event.start_at.strftime('%m/%d/%Y')%> to <%= @event.end_at.strftime('%m/%d/%Y') %></p>
    <p class='fs-5 lh-1'><%= @event.location %></p>
    <p class='fs-6'><%= @event.description %></p>
    <%= link_to 'Book Now', new_booking_path, class: 'btn btn-primary' %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Book Now</button>
  </div>
</div>

<%# <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> %>
