<div class='fs-2 text-center mt-5 pb-5'>
  <div class='fw-bold'><%= @event.title %>
</div>

<%# Below is the carousel %>
<div class="container">
  <div id="carouselExample" class="carousel slide mt-3 mb-4">
    <ol class="carousel-inner">
      <% @event.images.each.with_index do |img, index| %>
        <li class="carousel-item <%= 'active' if index.zero? %>">
          <%= cl_image_tag(img.key, height: 600, class:"object-fit-cover border rounded w-100") %></li>
      <% end %>
    </ol>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<%# Above is the carousel %>


  <div>
    <p class='fs-5 lh-1'>From <%= @event.start_at.strftime('%m/%d/%Y')%> to <%= @event.end_at.strftime('%m/%d/%Y') %></p>
    <p class='fs-5 lh-1'><%= @event.location %></p>
    <p class='fs-6'><%= @event.description %></p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#book_now_modal">Book Now</button>
  </div>
</div>

<div class="modal fade" id="book_now_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book Now</h5>
      </div>
      <div class="modal-body">
        <p>From <%= @event.start_at %> to <%= @event.end_at %></p>
        <p><%= @event.location %></p>
        <p><%= @event.description %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <% if @event.user != current_user %>
          <%= button_to "Book Now", event_bookings_path(@event), method: :post, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Book Now", edit_event_path(@event), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
